# Tape simulation config (key = value)
duration_seconds = 2.0
num_market_makers = 2
num_noise_traders = 4
num_momentum_agents = 1
verbose = true

cst.seed = 12345
cst.initial_mid = 10000
cst.initial_spread = 2
cst.initial_qty_per_level = 20
cst.lambda_limit = 50
cst.mu_market = 10
cst.theta_cancel = 5
cst.num_levels = 10

mm.half_spread = 2
mm.quote_qty = 10
mm.max_inventory = 50
mm.stale_threshold = 3
